<div id="carouselExampleCaptions" class="carousel slide py-5 mb-5">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702648576/MCBD/Carrousel2.png", class: "d-block w-100", alt: "Plusieurs images de mangas, bandes dessinées et comics. On y voit notamment SailorMoon et OnePiece") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702648576/MCBD/caroussel1.png", class: "d-block w-100", alt: "Plusieurs images de mangas, bandes dessinées et comics. On peut y voir notamment des Pokémons.") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702648577/MCBD/carrousel%203.png", class: "d-block w-100", alt: "Plusieurs images de mangas, bandes dessinées et comics") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
