<div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag('MCBD_cover.png', alt: 'Bannière site', class: 'd-block mx-lg-auto img-fluid') %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Mangas Comics BD</h1>
        <p class="lead">Situé en plein coeur de Paris MCBD Shop vous accueille du Lundi au Samedi de 11h à 19h</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/books" type="button" class="site-btn btn-lg px-4 gap-3">Accède à notre librairie</a>
          <a href="/events" type="button" class="site-btn-second btn-lg px-4">Évènements</a>
        </div>
      </div>
    </div>
  </div>