<div class="position-relative text-center bg-image" style="background-image: url('https://images.pexels.com/photos/6654177/pexels-photo-6654177.jpeg'); height: 400px; background-position: center; background-size: 100%">
  <!-- Calque noir semi-transparent -->
  <div class="position-absolute top-0 start-0 end-0 bottom-0" style="background-color: rgba(0, 0, 0, 0.7);"></div>

  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="col-lg-6 text-white">
      <h1 class="display-5 fw-bold mb-3">MCBD - Votre escale BD, Manga et Comics</h1>
      <p class="lead mb-5 fw-bold d-lg-block d-none">Découvrez des récits captivants et enrichissez votre collection avec notre sélection soigneusement curatée de Bandes Dessinées, Mangas et Comics. Chez MCBD, plongez dans des univers extraordinaires et vivez des aventures inoubliables à chaque page tournée.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/books" type="button" class="site-btn btn-lg px-4 gap-3">Accède à notre librairie</a>
        <a href="/events" type="button" class="site-btn-second btn-lg px-4">Évènements</a>
      </div>
    </div>
  </div>
</div>