<div class="container col-xxl-8 px-4 product__page__title">
  <div class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-3">
    <div class="col-10 col-sm-8 col-lg-6 m-auto">
      <%= image_tag("https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702651457/MCBD/mcbdcover.png", alt: "Patchwork d'images provenant de bandes dessinées, comics et mangas. On peut voir notamment Tintin, Superwoman, Naruto, One Piece, etc.", class: "d-block mx-lg-auto img-fluid") %>
    </div>
    <div class="col-lg-6  text-center">
      <h1 class="display-5 fw-bold lh-1 mb-3">Mangas Comics BD</h1>
      <p class="lead"> Explorez notre boutique et participez à nos événements exclusifs, une expérience immersive pour les passionnés de bandes dessinées, mangas et comics.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a href="/books" type="button" class="site-btn btn-lg px-4 gap-3">Librairie</a>
        <a href="/events" type="button" class="site-btn-second btn-lg px-4">Évènements</a>
      </div>
    </div>
  </div>
</div>
