<h1 class =" text-white">Homepage</h1>

<h2 class = "text-white">Ceci sera notre homepage</h2>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>