<div class="container static-page">
  
      <h1 class="text-center">Mentions Légales</h1>
      <br>
      <br>
      <br>

      <section>
        <h3>1. Éditeur du Site</h3><br>
        <p>Raison sociale : MCBD</p>
        <p>Adresse : 27 rue des thalandiers 75011 Paris</p>
        <p>Email : mcbd.shop@gmail.com</p>
        <p>Téléphone : [Votre numéro de téléphone]</p>
      </section>
      <br>
      <section>
        <h3>2. Hébergement du Site</h3><br>
        <p>Nom de l'hébergeur : [Nom de l'hébergeur]</p>
        <p>Adresse : [Adresse de l'hébergeur]</p>
        <p>Téléphone : [Numéro de téléphone de l'hébergeur]</p>
      </section>
      <br>
      <section>
        <h3>3. Propriété Intellectuelle</h3><br>
        <p>Le contenu du site est protégé par les lois en vigueur sur la propriété intellectuelle et est la propriété exclusive de MCBD.</p>
      </section>
      <br>
      <section>
        <h3>4. Collecte de Données Personnelles</h3><br>
        <p>MCBD collecte des données personnelles à des fins [précisez la finalité, par exemple, de traitement des commandes]. Ces données sont conservées conformément à la législation en vigueur.</p>
      </section>
      <br>
      <section>
        <h3>5. Cookies</h3><br>
        <p>Le site utilise des cookies. En naviguant sur le site, l'utilisateur consent à l'utilisation de ces cookies.</p>
      </section>
      <br>
      <section>
        <h3>6. Liens Externes</h3><br>
        <p>Le site peut contenir des liens externes. MCBD n'est pas responsable du contenu de ces sites externes.</p>
      </section>
      <br>
      <section>
        <h3>7. Modifications des Mentions Légales</h3><br>
        <p>MCBD se réserve le droit de modifier les présentes Mentions Légales à tout moment. Les modifications seront publiées sur le site.</p>
      </section>
      <br>
      <section>
        <h3>8. Droit Applicable et Juridiction</h3><br>
        <p>Les présentes Mentions Légales sont régies par le droit https://www.legifrance.gouv.fr/loda/id/LEGITEXT000024498818/ et tout litige relatif à ces mentions légales sera soumis à la juridiction exclusive des tribunaux de Paris.</p>
      </section>

      <br>
  
</div>