<div class="container">
  
  <h1 class="text-center">Politique de Confidentialité (RGPD)  MCBD</h1>
  <br>
  <br>
  <br>

  <section>
    <h3>1. Collecte des Données Personnelles</h3><br>
    <p>MCBD collecte des données personnelles à des fins [précisez la finalité, par exemple, de traitement des commandes].</p>
  </section>
  <br>
  <section>
    <h3>2. Types de Données Collectées</h3><br>
    <p>Les types de données personnelles collectées peuvent inclure : [liste des types de données, par exemple, nom, adresse, adresse e-mail, etc.].</p>
  </section>
  <br>
  <section>
    <h3>3. Utilisation des Données Collectées</h3><br>
    <p>MCBD utilise les données collectées à des fins [précisez la finalité, par exemple, de traitement des commandes, d'envoi d'informations promotionnelles, etc.].</p>
  </section>
  <br>
  <section>
    <h3>4. Protection des Données</h3><br>
    <p>MCBD met en place des mesures de sécurité appropriées pour protéger les données personnelles collectées.</p>
  </section>
  <br>
  <section>
    <h3>5. Partage des Données</h3><br>
    <p>MCBD ne partage pas les données personnelles avec des tiers, sauf [précisez les situations où le partage peut avoir lieu, par exemple, avec des partenaires de traitement des paiements].</p>
  </section>
  <br>
  <section>
    <h3>6. Droits des Utilisateurs</h3><br>
    <p>Les utilisateurs ont le droit d'accéder à leurs données personnelles, de les rectifier, de les supprimer, ou de s'opposer à leur traitement. Pour exercer ces droits, veuillez contacter MCBD à [adresse e-mail de contact].</p>
  </section>
  <br>
  <section>
    <h3>7. Cookies</h3><br>
    <p>Le site utilise des cookies. En naviguant sur le site, l'utilisateur consent à l'utilisation de ces cookies.</p>
  </section>
  <br>
  <section>
    <h3>8. Modifications de la Politique de Confidentialité</h3><br>
    <p>MCBD se réserve le droit de modifier la présente Politique de Confidentialité à tout moment. Les modifications seront publiées sur le site.</p>
  </section>
  <br>
  <section>
    <h3>9. Contact</h3><br>
    <p>Pour toute question concernant la Politique de Confidentialité, veuillez contacter MCBD à [adresse e-mail de contact].</p>
  </section>
  <br>
  <section>
    <h3>10. Droit Applicable et Juridiction</h3><br>
    <p>La présente Politique de Confidentialité est régie par le droit [indiquer le droit applicable] et tout litige relatif à cette politique sera soumis à la juridiction exclusive des tribunaux de Paris.</p>
  </section>

  <br>

</div>