<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD| Conditions Générales de Vente</title>
  </head>  
  <div class="container static-page">

    <h1 class="text-center">Conditions Générales de Vente</h1>
    <br>
    <br>
    <br>

    <section>
      <h3>1. Acceptation des Conditions Générales de Vente</h3><br>
      <p>L'utilisation de l'application Ruby on Rails dédiée à la librairie MCBD (ci-après dénommée "l'Application") est soumise à l'acceptation sans réserve des présentes Conditions Générales de Vente.</p>
    </section>
    <br>
    <section>
      <h3>2. Commandes et Paiements</h3><br>
      <p>2.1 Les commandes passées via l'Application sont contraignantes. Les produits, y compris les bandes dessinées, mangas, comics, et figurines, demeurent la propriété de MCBD jusqu'au paiement intégral.</p>
      <p>2.2 Les prix affichés sur l'Application sont en [devise] et peuvent être sujets à des taxes et frais additionnels conformément aux lois en vigueur.</p>
      <p>2.3 Les paiements peuvent être effectués via [méthodes de paiement acceptées], incluant [cartes de crédit, PayPal, etc.].</p>
    </section>
    <br>
    <section>
      <h3>3. Livraison</h3><br>
      <p>3.1 Les délais de livraison indiqués sont estimatifs et peuvent varier en fonction du lieu de livraison et de la disponibilité des produits.</p>
      <p>3.2 MCBD ne peut être tenue responsable des retards de livraison causés par des circonstances indépendantes de sa volonté.</p>
    </section>
    <br>
    <section>
      <h3>4. Politique de Retour et Remboursement</h3><br>
      <p>4.1 Les détails concernant la politique de retour et de remboursement de MCBD sont disponibles sur l'Application. Les utilisateurs sont encouragés à la consulter avant de passer une commande.</p>
      <p>4.2 Les figurines et produits similaires peuvent être soumis à des conditions spécifiques de retour en raison de leur nature délicate.</p>
    </section>
    <br>
    <section>
      <h3>5. Propriété Intellectuelle</h3><br>
      <p>5.1 Tous les droits de propriété intellectuelle relatifs aux produits vendus sur l'Application MCBD restent la propriété de leurs détenteurs respectifs.</p>
      <p>5.2 L'utilisateur s'engage à ne pas reproduire, distribuer ou exploiter de quelque manière que ce soit le contenu protégé par des droits de propriété intellectuelle sans l'autorisation expresse des détenteurs de ces droits.</p>
    </section>
    <br>
    <section>
      <h3>6. Modifications des Conditions Générales de Vente</h3><br>
      <p>6.1 MCBD se réserve le droit de modifier les présentes Conditions Générales de Vente à tout moment. Les modifications seront publiées sur l'Application.</p>
      <p>6.2 Les utilisateurs sont invités à consulter régulièrement les Conditions Générales de Vente pour rester informés des changements.</p>
    </section>
    <br>
    <section>
      <h3>7. Droit Applicable et Juridiction</h3><br>
      <p>Les présentes Conditions Générales de Vente sont régies par le droit [indiquer le droit applicable] et tout litige relatif à ces conditions sera soumis à la juridiction exclusive des tribunaux de Paris.</p>
    </section>

    <br>

  </div>