<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD | Mot de passe oublié ?</title>
  </head>
  <section class="container my-auto py-5">
    <div class="row">
      <div class="col-sm-12 col-lg-8 col-xl-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body header">
            <div class="margin-top-sign text-center">
              <h2 class="fw-bold text-white">Mot de passe oublié ?</h2>
              <p class="mt-1 mb-4 text-light">Ça arrive à tout le monde, nous allons te renvoyer un email pour réinitialiser ton mot de passe !</p>
            </div>
            <div class="mb-4">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-floating mb-3 w-75 mx-auto">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control", id:"floatingEmail"  %>
                  <label for="floatingEmail">Email</label>
                </div>

                <div class="d-flex justify-content-center mt-5">
                  <%= f.submit "Envoyez moi un email", class: "site-btn w-50 p-2 mx-auto d-block" %>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Tu as retrouvé ton mot de passe ? <a href="/users/sign_in" class="fw-bold text-light"><u>Connecte-toi</u></a><br>
                <a href="/users/sign_up" class="fw-bold text-light"><u>Inscris-toi</u></a> si tu n'as pas encore de compte ! </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>