<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> , </h1>
    <p> Nous vous confirmons votre paiement de <%= @total_price %> euros pour votre commande numéro : <%= @order.id %> . </p>
    <p> Celle-ci est actuellement en préparation. Vous pouvez venir la récupérer dès que possible à notre boutique.</p>
    <p>
      Pour accéder à votre espace client, connectez- via : <%= @url %>.
    </p>
    <p>
      A très vite !
    </p>
  </body>
</html>