<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD| Merci de votre achat </title>
  </head>  
  <%= render 'hero_checkout' %>
  <div class = "container" >
    <h2 class = "mt-5">Retrouvez le detail de votre commande dans le mail de confirmation que nous venons de vous envoyer. </h2>

    <h2 class = "mt-5">Vous pouvez venir récupérer votre commande ici :<h2>
    <div class="row d-flex my-5">
      <div class="col-lg-2 col-md-8 col-sm-4 mr-auto">
        <iframe width="600" height="450" style="border:0<>"Loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJt2lfewdy5kcRnc05-mzm3eQ&key=AIzaSyAI4Dte5N9sTmpRSdFpewT4teWGR5OEW6Q"></iframe>                    
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 m-auto p-2">
        <div class="anime__review__item__text">
          <h6>MCBD SHOP</h6>
          <p>Horaires:</p>
          <p>Lundi 11:00–19:00</p>
          <p>Mardi 11:00–19:00</p>
          <p>Mercredi 11:00–19:00</p>
          <p>Jeudi 11:00–19:00</p>
          <p>Vendredi 11:00–19:00</p>            
          <p>Samedi 11:00–19:00</p>  
          <p>Dimanche fermé</p>                          
        </div>
      </div>    
    </div>
  </div>
</html>
