<div class="mb-5">
  <p class="lead fw-normal mb-1">Mes livres achetés</p>
  <div class="p-4 color-nav rounded">
    <% @recent_purchases.each do |order| %>
      <div class="product__item d-flex align-items-center ">
        <ol class ="list-style-position-inside" >
          <% order.books.each do |book| %>
            <%= link_to book_path(book) do %>
            <li class="font-italic mb-1"><%= book.title %></li>
            <% end %> 
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>