<div class="product__page__title">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6">
      <div class="section-title">
        <h4><%= title_contents %></h4>
      </div>
    </div>
  </div>
</div>