<div class="p-5 text-center bg-body-secondary">
  <div class="container py-5">
    <h1 class="text-body-emphasis">Évènements au M.C.B.D Shop</h1>
  </div>
</div>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render "card" %>
    </div>
  </div>
</div>

