<!DOCTYPE html>
<html class="h-auto" lang="fr">
  <head>
    <title>MCBD| Evenements</title>
  </head>

  <div class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__links">
            <%= link_to '<i class="fa fa-home"></i> Accueil'.html_safe, root_path %>
            <span>Evènements</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="product-page spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <!-- Title -->
          <div class="product__page__content">
            <%= render partial: "title", locals: {title_contents: "Évènements au M.C.B.D. Shop" } %>
          </div>

          <!-- Event cards -->
          <div class="album py-5">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <%= render "card" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</html>
