<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Bonjour Admin, </h1>
  <p> Une commande a été passée et payée sur le site <%= @url %>.</p>
  <p> Nom : </p>
  <p> Prénom : </p>
  <p> Numéro de commande : </p>
  <p> Montant de la commande : </p>
  <p> Livres commandés : </p>
  </body>
</html>