<div class="product__item">
  <%= image_tag(book.image_url, class: "product__item__pic set-bg", data: { setbg: book.image_url }, alt: "Description de l'image") %>
  <div class="product__item__text">
    <h5><a href="#"><%= book.title %></a></h5>
  </div>
</div>