<div class="text-center">
  <% if user_signed_in? %>
    <%= button_to "Confirmer la commande et payer", checkout_create_path(user_id: current_user.id), class: "site-btn btn btn-success", data: { turbo: false } %>
  <% else %>
    <%= button_to "Connectez-vous pour payer", new_user_session_path, class: "site-btn btn btn-warning" %>
  <% end %>
</div>