<a class="navbar-brand mx-auto" href="/">
  <%= image_tag("https://res.cloudinary.com/dgsiwrjpp/image/upload/v1702646683/logo2.png", alt: "Logo de MCBD Shop avec le nom du magasin en jaune sur un fond rouge et tout autour des dessins de personnages de mangas/comics en noir et blanc", class: "logo-img") %>
</a>