<a class="nav-link" href="#">
  <i class="fa-solid fa-magnifying-glass"></i>
</a>
<!-- <form class="d-flex mt-3" action="<%= search_path %>" method="get" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->