<a class="nav-link" href="#" id="search-link">
  <i class="fa-solid fa-magnifying-glass"></i>
</a>
<form class="form-inline my-2 my-lg-0 d-none" action="/search" method="get" role="search" id="search-form">
    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="" name="query">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Chercher</button>
</form>