<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><i class="fa-sharp fa-solid fa-arrow-up fa-xs"></i></a>
    </div>

    <ul class="nav justify-content-center border-bottom py-3 mb-3 ">
      <li class="nav-item">
        <%= link_to "Conditions Générales de Vente", cgv_path, class: "nav-link px-2 text-light" %>
      </li>
      <%= link_to "Politique de confidentialité (RGPD)", rgpd_path, class: "nav-link px-2 text-light" %>
      </li>
      <%= link_to "Mentions légales", mentions_legales_path, class: "nav-link px-2 text-light" %>
    </li>
     
      <li class="nav-item"><a href="#" class="nav-link px-2  text-light">Contact</a></li>
    </ul>

    <ul class="nav justify-content-center">
      <li class="ms-3"><a class="text-light" href="https://www.instagram.com/mcbd_shop/?hl=fr" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
      <li class="ms-3"><a class="text-light" href="https://twitter.com/mcbd_shop?lang=fr" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>
      <li class="ms-3"><a class="text-light" href="https://www.facebook.com/MCBD.Shop" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a></li>
      <li class="ms-3"><a class="text-light" href="mailto: mcbd.shop@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </div>
</footer>


