<div class="col-md-6 mb-4">
  <div class="anime__review__item__text ms-4">
    <h6>MCBD SHOP</h6>
    <p>27 rue des Taillandiers</p>
    <p>75011, Paris</p>
    <br>
    <h7>Horaires:</h7>
    <p>Lundi 11:00–19:00</p>
    <p>Mardi 11:00–19:00</p>
    <p>Mercredi 11:00–19:00</p>
    <p>Jeudi 11:00–19:00</p>
    <p>Vendredi 11:00–19:00</p>            
    <p>Samedi 11:00–19:00</p>  
    <p>Dimanche fermé</p> 
  </div>
</div>