<!-- Button toggler canva -->
<div class=" navbar-brand navbar-nav me-3 me-lg-0 ms-5">
  <a role="button" href="#" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    <i class="fa-solid fa-bars fa-lg"></i>
  </a>
</div>

<!-- Canva -->
<div class="offcanvas offcanvas-start header" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <div id="offcanvasWithBothOptionsLabel"></div>
    <button type="button" class="btn shadow-none" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Espace Client
        </a>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Mon Compte", root_path, class:"dropdown-item"%>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, :class=>"dropdown-item" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item"%>
            </li>
            <li>
              <%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item"%>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <form class="d-flex mt-3" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>


